#duvidas {
    margin-top: 130px;
    background-color: #e5e5e5;
    padding: 35px 0;
    font-size: 24px;
}

#duvidas .duvida {
    font-family: "TT Commons Medium", sans-serif;
    
}

#duvidas img {
    margin: 0 25px 0 0 ;
}

#duvidas a {
    color: #000;
    text-decoration: none;
}